[submodule "libs/submodule"]
	path = libs/submodule
	url = https://github.com/anroy90/Tenant-A.git
	branch = develop
[submodule "libs/submoduleB"]
	path = libs/submoduleB
	url = https://github.com/anroy90/Tenant-B.git
	branch = main
